.header {
  background-image: url("../images//hero.png");
  background-size: cover;
  height: 660px;

  &__top {
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 130px;
    margin-bottom: 45px;
  }
}
